<!DOCTYPE HTML>
{% load static %}
<html lang="kr">
    <head>
        <meta charset="UTF-8">
        <title>
            home
        </title>
        <link rel="stylesheet" href="{% static 'home/css/home.css' %}">
    </head>
    <body>
        <div class="section" >
            <div class="re-mail" >
                Re-mail 
            </div>
            <div class='button'><input type="button" id="loginb" value="Log in" onClick="location.href='login'"></div>
            <div class='button'><input type="button" id="signupb" value="Sign up" onClick="location.href='signup'"></div>
            <div class='button'><input type="button" id="about" value="about" onClick="location.href='about'"></div>
        </div>
        <!-- {% block contents %}
        {% endblock contents %} -->
    </body>
</html>
