
{% comment %} {% extends 'home/index.html' %}

{% block contents %} {% endcomment %}
<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        {% block contents %}
        <main class="form-signin w-100 m-auto">
            <form action="{% url 'user:login' %}" method="post">
                {% csrf_token %}
    <!--            <img class="mb-4" src="/docs/5.2/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">-->
                <h1 class="h3 mb-3 fw-norma">로그인</h1>
                <div class="form-floating">
                <input type="text" class="form-control" name="username" id="username" placeholder="name@example.com">
                <label for="username">아이디</label>
                </div>
                <div class="form-floating">
                <input type="password" class="form-control" name="password" id="password" placeholder="Password">
                <label for="password">비밀번호</label>
                </div>
    <!--            <div class="checkbox mb-3">-->
    <!--              <label>-->
    <!--                <input type="checkbox" value="remember-me"> Remember me-->
    <!--              </label>-->
    <!--            </div>-->
                <button class="w-100 btn btn-lg btn-primary" type="submit">로그인</button>
    <!--            <p class="mt-5 mb-3 text-muted">2022.08</p>-->
            </form>
        </main>
        {% endblock %}

    </body>
{% comment %} {% endblock contents %} {% endcomment %}

