{% extends 'mypage/mypage.html' %}
{% block mypage_section %}
<!-- Section -->
<section class="newadd">
	<button type="submit">메일 주소 생성</button>

	<form method="post">
		{% csrf_token %}
		<div>
			<label for="remail">Re-mail 주소</label>
			<input type="text" name="remail" id="remail">
			<button id="random" type="button">랜덤 생성</button>
			<button id="check" type="button">중복 확인</button>
			<br>
			<span id="checkword">사용 가능한 임시 메일 주소입니다.</span>
		</div>
		<div>
			<label for="category">카테고리:</label>
			<input type="text" name="category" id="category">
			<br>
			<input type="text" name="category" size="40">
			<button id="save" type="button">확인</button>
		</div>
	</form>
</section>
{% endblock mypage_section %}
